header {
    background-color: lightcoral;
    padding: 20px;
}

.boton{
    padding: 10px 15px;
    margin: 0 10px;
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 700;
    transition: 200ms;
}

.boton:hover{
    background: black;
    border: none;
    color: lightcoral;
}